.board {
    background-color: #74452f;

    /*margin-top: var(--menu-height);*/
    box-sizing: border-box;
    overflow: hidden;

    border-radius: 20px;

    width: 100%;
    height: 100%;

    position: relative;

    background-image: url("src/assets/board_bg.png");
    background-repeat: repeat;
    background-size: 400px;
}

.board-bg {
    width: 100%;
    height: 50%;

    object-fit: cover;
    background-repeat: repeat;

    z-index: 0;
}