.board {
    background-color: #74452f;

    overflow: hidden;

    border-radius: 10px;

    width: 100%;
    height: 100%;

    position: relative;

    background-image: url("src/assets/board_bg.png");
    background-repeat: repeat;
    background-size: 400px;
}