.board {
    background-color: #74452f;
    box-sizing: border-box;
    overflow: hidden;

    border-radius: 20px;

    width: 100%;
    height: 100%;
    min-height: 60vh;

    position: relative;

    background-image: url("src/assets/board_bg.png");
    background-repeat: repeat;
    background-size: 400px;
}

.board-bg {
    width: 100%;
    height: 50%;

    object-fit: cover;
    background-repeat: repeat;

    z-index: 0;
}

.task-list {
    margin-top: var(--menu-height);
    padding: 0;

    outline: white 1px;

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

    height: 100%;
}