.board {
    background-color: #74452f;

    box-sizing: border-box;
    overflow: hidden;

    border-radius: 20px;

    width: 100%;
    height: 100%;

    position: relative;

    background-image: url("src/assets/board_bg.png");
    background-repeat: repeat;
    background-size: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}