.homepage-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.menu-container {
  width: 100%;
  height: var(--menu-height);
  box-sizing: border-box;

  z-index: 10;
  flex: 0 0 auto;

  background-color: #624963;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  flex: 1;
  padding: 20px;

  min-height: 0;
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

.create-button {
  min-width: 15rem;
  padding: 10px 30px;

  font-size: 16px;

  background-color: #ca79a8;
  border: none;

  border-radius: var(--border-radius);
}
.create-button:hover {
  background-color: #ca79a8;
}