.homepage-container {
  width: var(--window-width);
  height: var(--window-height);
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.menu-container {
  width: 100vw;
  height: var(--menu-height);
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  flex: 0 0 auto;

  background-color: #624963;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  flex: 1;
  padding: 20px 10px 10px 10px;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

.create-button {
  min-width: 15rem;
  padding: 10px 30px;

  font-size: 16px;

  background-color: #ca79a8;
  border: none;

  border-radius: var(--border-radius);
}
.create-button:hover {
  background-color: #ca79a8;
}

.task-list {
  margin-top: var(--menu-height);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0;
}