* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --window-margin: 4rem;
  --border-radius: 10px;
  --menu-height: 10rem;

  --window-height: calc(100vh - 16px);
  --window-width: calc(100vw - 16px);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #413747;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  place-content: center;
  justify-content: center;
}
