.task {
    --corner-size: 25px;
    filter: drop-shadow( 0 0.2rem 10px rgba(0, 0, 0, 0.2) );

    display: flex;
    align-items: center;
    align-content: center;

    min-width: fit-content;
    min-height: fit-content;

    position: absolute;
}
.task:hover {
    filter: drop-shadow( 0 0.2rem 10px rgba(0, 0, 0, 0.4) );
    transition: filter 0.3s;
}
.task:focus {
    filter: drop-shadow( 0 0.2rem 10px rgba(255, 255, 255, 0.2));
}

.task-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    width: 100%;
    height: 100%;
    min-height: fit-content;

    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.task-title {
    max-width: 100%;
    min-width: 0;
    field-sizing: content;

    background: transparent;
    border: none;
    outline: none;

    text-align: center;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;

    color: var(--font-colour);

    cursor: text;
    margin: 0 0 0.5rem 0;
}
.task-title::placeholder {
    color: var(--font-colour);
    opacity: 0.6;
}

.task-details {
    field-sizing: content;
    width: 0;
    min-width: 100%;

    min-height: fit-content;
    flex: 1;

    background: transparent;
    border: none;
    outline: none;
    resize: none;

    color: var(--font-colour);

    cursor: text;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    text-wrap: wrap;
}
.task-details::placeholder {
    color: var(--font-colour);
    opacity: 0.6;
}

.resize-corner {
    width: 0;
    height: 0;

    border-bottom: var(--corner-size) solid transparent;

    position: absolute;
    bottom: 0;
    right: 0;

    cursor: se-resize;
    z-index: 10;
}