.task {
    --corner-size: 25px;

    text-align: center;
    align-items: center;
    align-content: center;

    background: linear-gradient( 135deg, #ca79a8 calc(100% - var(--corner-size) * 0.75), transparent 0 );

    filter: drop-shadow( 0 0.2rem 10px rgba(0, 0, 0, 0.2) );

    display: flex;
    flex-direction: column;

    position: absolute;
}
.task:hover {
    filter: drop-shadow( 0 0.2rem 10px rgba(0, 0, 0, 0.4) );
}

.resize-handle {
    width: 0;
    height: 0;

    border-left: var(--corner-size) solid #a16085;
    border-bottom: var(--corner-size) solid transparent;

    position: absolute;
    bottom: 0;
    right: 0;

    cursor: se-resize;
}