.task {
    background-color: #ca79a8;

    text-align: center;
    align-items: center;
    align-content: center;

    box-shadow: 0 0.2rem 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;

    position: absolute;
}
.task:hover {
    box-shadow: 0 0.2rem 10px rgba(0, 0, 0, 0.4);
}

.resize-handle {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.2);

    position: absolute;
    bottom: 0;
    right: 0;

    cursor: se-resize;
}