.task {
    background-color: #ca79a8;
    min-width: 15rem;
    min-height: 5rem;
    /*position: absolute;*/

    text-align: center;
    align-items: center;
    align-content: center;

    border-radius: var(--border-radius);
    margin-top: 15px;

    box-shadow: 0 0.2rem 10px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5rem 0;
}

.task-delete-button {
    padding: 0 1rem;
    background: #624963;
    border: transparent;
    border-radius: 2rem;
}
.task-delete-button:hover {
    background: #413747;
}