.task {
    background-color: #ca79a8;
    min-width: 15rem;
    min-height: 5rem;

    text-align: center;
    align-items: center;
    align-content: center;

    border-radius: var(--border-radius);

    box-shadow: 0 0.2rem 10px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;

    position: absolute;
}